<header>
  <div class="">
    <img id="logo" src="images/cactuar.png" width="55px" />
    <nav>
      <ul>
        <a href="/"><li>Index</li></a>
        
        <% if (currentUser) {%>
          <a href="/dashboard"><li>Dashboard</li></a>
        <% } else { %>
          <a href="/"><li>Dashboard</li></a>
        <% } %>
        
        <% if (currentUser) {%>
          <a href="/logout"><li>Logout</li></a>
        <%} else {%>
          <a href="/login"><li>Login</li></a>
        <%}%>
        
      </ul>
    </nav>
  </div>
</header>
