<% include ./partials/header %>

<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Menu Bar and Login</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if(user){ %>
          <% if(user.role == "admin") { %>
            <li><a href="">Admin</a></li>
          <% } else if(user.role == "supervisor") { %>
            <li><a href="">Supervisor</a></li>
          <% } else if(user.role == "customer") { %>
            <li><a href="">Customer</a></li>
          <% } %>
          <li><a href="/logout">Logout</a></li>
        <% } else {%>
          <li><a href="/register">SignUp</a></li>
          <li><a href="/login">Login</a></li>
        <% } %>
      </ul>
    </div>
  </nav>
</header>
<p>
  Welcome <%= user.username %> !
</p>