<!DOCTYPE html>
<html>

<head>
  <% include partials/head.ejs %>
</head>

<body>
  <h1>Hello</h1>
  <% if(currentUser === undefined) { %>
    <p>You are not logged in.</p>
    <!-- <a href="/login">Login Here</a> -->
    <p><a class="btn btn-info btn-sm" href="/login" role="button">Login here</a></p>
    <% } else { %>
      <p>You have logged in</p>
      <!-- <a href="/dashboard">Back to dashboard</a> -->
      <p><a class="btn btn-success btn-sm" href="/dashboard" role="button">Go to dashboard</a></p>
      <p><a class="btn btn-danger btn-sm" href="/logout" role="button">Or logout</a></p>
      <% } %>
</body>

</html>