<!DOCTYPE html>
<html>

  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <h1>Login here:</h1>
      <form method="post">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">@</span>
        <input type="text" class="form-control" name="username" placeholder="Your username" aria-describedby="basic-addon1">
      </div>
        <br>
        <br>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">*</span>
        <input type="password" class="form-control" name="password" placeholder="Your Password" aria-describedby="basic-addon1">
      </div>
        <br>
        <br>
        <button class="btn btn-success btn-sm" type="submit" name="button">Login</button>
      </form>
    <br>
    <!-- <a href="/">Going back home</a> -->
    <p><a class="btn btn-primary btn-sm" href="/" role="button">Going back home</a></p>
  </body>
</html>