<!DOCTYPE html>
<html>
  <head>
    <title>Menubar and Sessions</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Enter your credentials:</h1>
    <form method="post">
      <input type="text" name="username" placeholder="Username">
      <br>
      <input type="password" name="password" placeholder="Password">
      <br>
      <button type="submit" name="button">Login</button>
    </form>
  </body>
</html>
