<!DOCTYPE html>
<html>
  <head>

    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="">

    </div>
    <br>
    <h1>Enter username and password</h1>
    <form method="post">
      <input type="text" name="username" placeholder="Username">
      <br>
      <input type="password" name="password" placeholder="Password">
      <br>
      <button type="submit" name="button">Login</button>
    </form>
  </body>
</html>