<footer>
      <div class='social'>
        <a href='https://www.linkedin.com/in/pella-de-vega-571627139/'>
          <img src='/images/linkedin.svg'/></a>
        <a href='https://www.facebook.com/profile.php?id=100017439250503'>
          <img src='/images/facebook.svg'/></a>
        <a href='https://twitter.com/metamorphega'>
          <img src='/images/twitter.svg'/></a>
      </div>
      <h5>copyright &copy; 2017 by pdvega</h5>
</footer>
