<nav class="nav navbar-default">
<div class="container head">
<ul class="nav navbar-nav navbar-left">
  <% options.forEach(option => { %>
    <li><a href="#"><%- option %></a></li>
  <% })%>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li><a>You're logged in as <%- currentUser.role %></a></li>
  <li><a href="/logout">Logout</a></li>
</ul>
</div>
</nav>
